/* Get font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,700;1,300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* padding and border is included in the width and height properties of boxes */
}

body {
  background-color: #fbfbfb; /* almost white */
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  color: #2d2d2d; /* almost black */
}

h1 {
  font-size: 1.5em;
  font-weight: 700;
}

h2 {
  font-size: 1.125em;
  margin: 5px 0px 10px 0px;  /* Top  Right  Bottom  Left */
  font-weight: 700;
}

p {
  padding: 10px 0px; /* Vertical  Horizontal */
  line-height: 1.5em;
}

a {
  text-decoration: none;
}

a:link, a:visited {
  color: inherit;
}

a:hover {
  color: #5c5c5c; /* dark grey */
}

.main-content {
  width: 95%;
  margin: 50px auto; /* Vertical  Horizontal */
  display: flex;
  flex-direction: column;
}

.select-municipality {
  width: 100%
}

.output-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.narrow-output {
  width: 100%;
  padding: 10px 0px 20px 0px; /* Top  Right  Bottom  Left */
  border-bottom: 1px solid #e9e9e9;
  margin-bottom: 30px;
}

.smaller-padding {
  padding-bottom: 0px;
}

.wide-output {
  width: 100%;
  padding: 10px 0px 20px 0px; /* Top  Right  Bottom  Left */
  border-bottom: 1px solid #e9e9e9;
  margin-bottom: 30px;
}

/* center middle child: https://www.freecodecamp.org/news/how-to-center-anything-with-css-align-a-div-text-and-more/ */
.center {
  position: relative;
}

#percent_membership {
  font-size: 4em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Phone Styles */
@media only screen and (max-width: 450px) {
  .center {
    height: 400px;
  }
}

/* Tablet Styles */
@media only screen and (min-width: 450px) and (max-width: 960px) {
  .main-content {
    width: 85%;
  }
  .select-municipality {
    width: 50%
  }
  .narrow-output {
    width: 33%;
  }
  .wide-output {
    width: 62%;
  }
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
  .main-content {
    width: 72%;
  }
  .select-municipality {
    width: 33%
  }
  .narrow-output {
    width: 33%;
  }
  .wide-output {
    width: 62%;
  }
}

@media only screen and (min-width: 1440px) {
  .page {
    width: 1440px;
    margin: 0 auto;
    margin-bottom: 100px;
  }
}
