/* Get font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,700;1,300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* padding and border is included in the width and height properties of boxes */
}

body {
  background-color: #fbfbfb; /* almost white */
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  color: #2d2d2d; /* almost black */
}

h1 {
  font-size: 1.5em;
  font-weight: 700;
}

h2 {
  font-size: 1.125em;
  margin: 5px 0px 10px 0px;  /* Top  Right  Bottom  Left */
  font-weight: 700;
}

p {
  padding: 10px 0px; /* Vertical  Horizontal */
  line-height: 1.5em;
}

a {
  text-decoration: none;
}

a:link, a:visited {
  color: inherit;
}

a:hover {
  color: #5c5c5c; /* dark grey */
}

.container-fluid {
  border: 1px solid red;
}

.main-content {
  width: 72%;
  margin: 50px auto; /* Vertical  Horizontal */
  display: flex;
  flex-direction: column;
  border: 1px solid red;
}

.select-municipality {
  width: 33%
}

.output-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  border: 1px solid green;
}

.narrow-output {
  width: 33%;
  padding: 10px 0px 20px 0px; /* Top  Right  Bottom  Left */
  border-bottom: 1px solid #e9e9e9;
  margin-bottom: 30px;
  border: 1px solid red;
}

.wide-output {
  width: 62%;
  padding: 10px 0px 20px 0px; /* Top  Right  Bottom  Left */
  border-bottom: 1px solid #e9e9e9;
  margin-bottom: 30px;
  border: 1px solid red;
}

/* center middle child: https://www.freecodecamp.org/news/how-to-center-anything-with-css-align-a-div-text-and-more/ */
.center {
  position: relative;
}

#percent_membership {
  font-size: 4em;
  border: 1px solid red;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
